doctype html
html
  head
    meta(charset='UTF-8')
    |   
    link(rel='stylesheet', href='portfolio2.css')
    |    
    title Mobile Menu Hamburger
    |     
    meta(name='viewport', content='width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no')
    // Using jQuery and jQuery UI for display effects
    script(src='https://code.jquery.com/jquery-2.1.1.min.js')
    |     
    script(src='https://code.jquery.com/ui/1.11.1/jquery-ui.min.js')
    // Using the hamburger menu display code
    script(src='js/hamburger.js')
    // Using Media Queries, if the viewport is smaller than 700px use another stylesheet
    link(rel='stylesheet', type='text/css', media='all', href='css/hamburger.css')
  body
    header
      #hamburger
        div Upload
        |    
        div How it Works
        |    
        div About us
      |   Happy Site
    #nav(style='background-image: url(goodDeeds.jpg)')
    .goodDeeds
      .scrollDeeds
        a(href='goodDeeds.jpg')
          img(src='goodDeeds.jpg', alt='Happy Thoughts')
        |  
        a(href='goodDeeds.jpg')
          img(src='goodDeeds.jpg', alt='Happy Thoughts')
        |  
        a(href='goodDeeds.jpg')
          img(src='goodDeeds.jpg', alt='Happy Thoughts')
        |  
        a(href='goodDeeds.jpg')
          img(src='goodDeeds.jpg', alt='Happy Thoughts')
        |   
        p.deedInfo
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          | consequat. Duis aute irure dolor in reprehenderit
        |   
        p.deedInfo
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          | consequat. Duis aute irure dolor in reprehenderit
        |   
        p.deedInfo
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          | consequat. Duis aute irure dolor in reprehenderit
        |   
        p.deedInfo
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          | consequat. Duis aute irure dolor in reprehenderit
    section.uploads
      a(href='goodDeeds.jpg')
        img(src='goodDeeds.jpg')
      |   // upload button goes here 
      |   
      h1 Or
      |   
      a(href='goodDeeds.jpg')
        img(src='goodDeeds.jpg')
