extend layout
block content
  p
    | Block Content from Main Vivamus hendrerit arcu sed erat molestie
    | vehicula. Sed auctor neque eu tellus
    | rhoncus ut eleifend nibh porttitor. Ut in.
  p
    | Donec congue lacinia dui, a porttitor
    | lectus condimentum laoreet. Nunc eu
    | ullamcorper orci. Quisque eget odio ac
    | lectus vestibulum faucibus eget in metus.
    | In pellentesque faucibus vestibulum. Nulla
    | at nulla justo, eget luctus tortor.

block header
    ul.nav.clear
      li About Us
      li Upload
      li Contact Us
block main-content
  img(src='../../images/mba.jpg')

block form(id="", method="", action="")
  h2 FORM HERE
  
block displayArea
  h1 Display Area
    p.deedQuotes
      |  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      |  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      |  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      |  consequat. Duis aute irure dolor in reprehenderit
      |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas repudiandae 
      |  aperiam veniam esse ipsam suscipit illo aliquam rem nostrum. At et vitae, nesciunt 
      |  neque quam ullam tempore optio modi ad.
      |  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      |  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      |  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      |  consequat. Duis aute irure dolor in reprehenderit
  .proAvatar.clear
